Checks: '-*,clang-analyzer-*,bugprone-*,performance-*,modernize-use-nullptr,modernize-use-override'
WarningsAsErrors: ''
HeaderFilterRegex: '(src|tests)/.*'
CheckOptions:
  bugprone-exception-escape.FunctionsThatShouldNotThrow: ''
